﻿@model IEnumerable<Life_Experiance_Blog.Models.Blog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using(Html.BeginForm("Index", "Search",FormMethod.Get))
{

    @Html.TextBox("searching")
    <input type="submit" value="Search"/>
}
<table>
    <tr>
        <th><h2>Title</h2></th>
        <th><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Body</h2></th>
    </tr>
@foreach(var item in Model)
{
<tr>
    <td>@Html.DisplayFor(modelItem=>item.Title)</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.Body)</td>
</tr>

}

</table>