﻿@model Life_Experiance_Blog.Models.UserRoleViewModels

@{
    /**/

    ViewBag.Title = "AssignRole";
}

<h2>Assign Role</h2>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-offset-2  col-md-2">
            <h4>User</h4>
            <span>
                @Html.DropDownList("User", new SelectList(Model.Users))
            </span>
        </div>
        <div class="col-md-2">
            <h4>Role</h4>
            <span>
                @Html.DropDownList("Role", new SelectList(Model.Roles))
            </span>
        </div>
    </div>

    <input type="submit" value="Assign" />

}

