﻿
@{
    ViewBag.Title = "CreateRole";
}
<h2>Administration : Create Role</h2>

@using (Html.BeginForm("CreateRole", "Admin"))
{
    <div>
        <span><label> Role Name</label> </span><span> @Html.TextBox("roleName")</span> <span><input type="submit" value="Create" /></span>
    </div>

}

