﻿
@{
    ViewBag.Title = "Admin - Index";
}

<h2>Administration</h2>
<div>
    <span class="btn btn-link">@Html.ActionLink("Add User", "AddUser", "Admin", new { @class = "btn btn-default" })</span>

    <span class="btn btn-link">@Html.ActionLink("Create Role", "CreateRole", "Admin", new { @class = "btn btn-default" })</span>

    <span class="btn btn-link">@Html.ActionLink("Assign Role", "AssignRole", "Admin", new { @class = "btn btn-default" })</span>
</div>