﻿@model Life_Experiance_Blog.Models.Blog

<div class="well col-lg-6">
    <div class="col-lg-3">
        <br />
        <img src="@Url.Content(Model.ImageUrl)" height="150" width="100" />
    </div>
    <div class="col-lg-3">
        <br />
        <br />
        <div style="color: gray"><strong>@Model.Author.FirstName</strong></div>
        <div style="color: gray"><strong>@Model.Author.LastName</strong></div>
    </div>
</div>