﻿@model IEnumerable<Life_Experiance_Blog.Models.Blog>

@{
    ViewBag.Title = "MyBlogs";
}

<h2>My Blogs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
<dl class=" well dl-horizontal">
    <b>
        @Html.DisplayNameFor(model => model.ImageUrl)
    </b>
    <dd>
        <img src="~/Content/Images/@Url.Content(item.ImageUrl)" height="450" width="900" />
    </dd>
    <b>
        @Html.DisplayNameFor(model => model.Title)
    </b>
    <dd>
        @Html.DisplayFor(modelItem => item.Title)
    </dd>
    <b>
        @Html.DisplayNameFor(model => model.Body)
    </b>
    <dd>
        @Html.DisplayFor(modelItem => item.Body)
    </dd>
    <b>
        @Html.DisplayNameFor(model => model.Author)
    </b>
    <dd>
        @Html.DisplayFor(modelItem => item.Author.FirstName)
    </dd>
    <br />
    <dd>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </dd>
</dl>
}
