﻿@model List<Life_Experiance_Blog.ViewModels.BlogersViewModel>

@{
    ViewBag.Title = "Blogers";
}

<h2>Blogers</h2>

<p>
    @Html.ActionLink("Create New", "Blogers")
</p>
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model[0].FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].LastName)
        </th>
    </tr>*@

    @foreach (var item in Model)
    {
    <tr>
        <td>
            <img src="~/Content/Images/@Url.Content(item.ImageUrl)" height="200" width="250" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.ActionLink("Details", "BlogersDetails", new { id = item.Id })
        </td>
    </tr>
    }

</table>
